<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to the text analyzer</h1>
<form action='/analyze' method='get'>
   <textarea name='text' style='margin: 0px; width: 1332px; height: 292px;'></textarea>

    <input type="checkbox" name="uppercase"> uppercase<br>
    <input type="checkbox" name="newline"> newline<br>
    <input type="checkbox" name="spaceremover"> spaceremover<br>
    <button type='submit'>analyzing text</button>

</form>
</body>
</html>